<ion-header>
    <ion-toolbar>

        <ion-title>{{teste.descricao}}</ion-title>

        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-buttons fill="outline" slot="end">

            <ion-button *ngIf="teste.disponivel" routerDirection="forward" (click)="addResultado(teste)">
                <ion-icon fill="outline" name="add-circle-outline" slot="end"></ion-icon>
                Adicionar
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let resultado of teste.resultados" (click)="itemTapped(resultado)">

        <ion-card-header>
            <ion-card-subtitle>{{resultado.data | date: 'dd/MM/yyy'}}</ion-card-subtitle>
            <ion-card-title>{{resultado.tempo}}</ion-card-title>
        </ion-card-header>

    </ion-card>

</ion-content>
