<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-title>Feedback do treino</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Realizado</ion-label>
        <ion-toggle [(ngModel)]="treino.realizado"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Corrida</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="treino.local">
            <ion-select-option value="P">Pista</ion-select-option>
            <ion-select-option value="E">Esteira</ion-select-option>
            <ion-select-option value="R">Rua</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Tempo (hh:mm:ss)</ion-label>
        <ion-input [(ngModel)]="treino.tempo" placeholder="00:30:25"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Pace (min/km)</ion-label>
        <ion-input [(ngModel)]="treino.pace" placeholder="05:30"></ion-input>
    </ion-item>

    <ion-item>
        <ion-textarea [(ngModel)]="treino.feedback" cols="20" placeholder="Como você se sente?" rows="6"></ion-textarea>
    </ion-item>

    <div class="ion-padding">
        <ion-button (click)="enviaFeedBack()" class="ion-no-margin" color="r3" expand="block">
            Enviar
        </ion-button>
    </div>

</ion-content>
