<ion-header>
    <ion-toolbar>
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Perfil</ion-title>
        </ion-toolbar>
    </ion-header>

    <div align="center" style="padding: 30px">
        <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

        <ion-label>
            <h3>{{ authUser?.nome_completo }}</h3>
            <p>{{ authUser?.email }}</p>
        </ion-label>

    </div>

    <div align="center">
        <ion-button (click)="logoutAction()" color='r3'>Desconectar</ion-button>
    </div>

    <ion-item-divider>
        <ion-label>

        </ion-label>
    </ion-item-divider>

    <ion-list>

        <ion-item [routerLink]="['/financeiro']" button routerDirection="forward">

            <ion-label>
                <h3>Pagamentos</h3>
            </ion-label>
        </ion-item>

        <ion-item [routerLink]="['/prova']" button routerDirection="forward">

            <ion-label>
                <h3>Próximas Provas</h3>
            </ion-label>
        </ion-item>

        <ion-item [routerLink]="['/teste']" button routerDirection="forward">

            <ion-label>
                <h3>Recorde Pessoal</h3>
            </ion-label>
        </ion-item>

    </ion-list>


</ion-content>
