<ion-header>
    <ion-toolbar>
        <ion-title>
            Treinos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Treinos</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-slides #slider >

        <ion-slide *ngFor="let treino of treinos">
            <div class="slide">
                <h2>{{treino.labelDiaDaSemana}} ({{treino.dataTreino | date: 'dd/MM'}})</h2>
                <p>{{treino.descricao}}</p>
            </div>

            <ion-item-divider>

            </ion-item-divider>

            <ion-item>
                <ion-label>Realizado</ion-label>
                <ion-toggle [(ngModel)]="treino.realizado"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-textarea [(ngModel)]="treino.feedback"
                        rows="6" cols="20" placeholder="Como você se sente?"></ion-textarea>
            </ion-item>

            <ion-button (click)="enviaFeedBack(treino)" color="r3">Enviar feedback</ion-button>

            <ion-button routerDirection="forward"
                        (click)="itemTapped(treino)" color="light">Detalhar treino</ion-button>

        </ion-slide>

    </ion-slides>

</ion-content>
