<ion-header >
    <ion-toolbar>
        <ion-title>
            Notificações
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Notificações</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item *ngFor="let notificacao of notificacoes">

        <ion-label class="ion-text-wrap">

            <ion-text color="primary">
                <h3>{{notificacao.titulo}}</h3>
            </ion-text>

            <p>{{notificacao.conteudo}}</p>

            <p>{{notificacao.data  | date: 'dd/MM/yyyy'}}</p>
        </ion-label>
    </ion-item>

</ion-content>
