<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-buttons fill="outline" slot="end">

            <ion-button routerDirection="forward" (click)="addProva()">
                <ion-icon fill="outline" name="add-circle-outline" slot="end"></ion-icon>
                Adicionar
            </ion-button>

        </ion-buttons>

        <ion-title>Próximas Provas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let prova of provas" (click)="itemTapped(prova)">

        <ion-card-header>
            <ion-card-subtitle>{{prova.data | date: 'dd/MM/yyy'}}</ion-card-subtitle>
            <ion-card-title>{{prova.descricao}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-chip *ngIf="prova.provaAlvo">
                <ion-icon name="pin"></ion-icon>
                <ion-label>Prova Alvo</ion-label>
            </ion-chip>

            <ion-chip>
                <ion-label>{{prova.distancia}} KM</ion-label>
            </ion-chip>

        </ion-card-content>

    </ion-card>


</ion-content>
