<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Pagamentos</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-list>

        <ion-item button routerDirection="forward"
                  (click)="itemTapped(debito)"
                  *ngFor="let debito of debitos">

            <ion-label>
                <p>{{debito.dataVencimento  | date: 'MMMM, dd'}}</p>
            </ion-label>


            <ion-label slot="end">

                <h3>{{debito.valor | currency: 'BRL'}}</h3>

            </ion-label>


        </ion-item>

    </ion-list>


</ion-content>
