<ion-header>
    <ion-toolbar>
        <ion-title>Cadastro prova</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-buttons fill="outline" slot="end">

            <ion-button routerDirection="forward" (click)="deleteProva(prova.codigo)">
                <ion-icon fill="outline" name="trash-outline" slot="end"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Descrição</ion-label>
        <ion-input [(ngModel)]="prova.descricao"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Distancia (KM)</ion-label>
        <ion-input [(ngModel)]="prova.distancia" type="number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Data</ion-label>
        <ion-input [(ngModel)]="prova.data" type="date"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Prova alvo</ion-label>
        <ion-toggle [(ngModel)]="prova.provaAlvo"></ion-toggle>
    </ion-item>

    <div class="ion-padding">

        <ion-button (click)="addProva()" class="ion-no-margin" color="r3" expand="block">
            Salvar
        </ion-button>
    </div>

</ion-content>
