<ion-header>
  <ion-toolbar>
    <ion-title>Recorde Pessoal</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let teste of testes" (click)="itemTapped(teste)">

    <ion-card-header>
      <ion-card-title>{{teste.descricao}}</ion-card-title>
    </ion-card-header>

  </ion-card>

</ion-content>
