<ion-header>
    <ion-toolbar>
        <ion-title>
            Feed
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Feed</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngFor="let post of publicacoes">
        <img src="{{post.urlFoto}}"/>
        <ion-card-header>
            <ion-card-subtitle>{{post.data | date: 'dd/MM/yyy HH:MM'}}</ion-card-subtitle>
            <ion-card-title>{{post.titulo}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{post.conteudo}}
        </ion-card-content>
    </ion-card>

</ion-content>
