<ion-header>
    <ion-toolbar>
        <ion-title>{{teste.descricao}}</ion-title>

        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-buttons fill="outline" slot="end">

            <ion-button routerDirection="forward" (click)="deleteResultado(teste.codigo)">
                <ion-icon fill="outline" name="trash-outline" slot="end"></ion-icon>
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Tempo (mm:ss)</ion-label>
        <ion-input [(ngModel)]="teste.tempo" placeholder="30:25"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Data</ion-label>
        <ion-input [(ngModel)]="teste.data" type="date"></ion-input>
    </ion-item>

    <div class="ion-padding">

        <ion-button (click)="addResultado()" class="ion-no-margin" color="r3" expand="block">
            Salvar
        </ion-button>
    </div>

</ion-content>
