<ion-header>
    <ion-toolbar color="dark" align="center">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="center">
        <img class="mediumLogo" src="../../../assets/images/logo-r3.png"/>
    </div>
    <form>
        <div class="ion-padding">

        <ion-list color="dark">
            <ion-item>
                <ion-label position="stacked" color="light">E-mail</ion-label>
                <ion-input color="light" [(ngModel)]="postData.username" name="username" type="text"
                           expand="block" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="light">Senha</ion-label>
                <ion-input [(ngModel)]="postData.password" autocomplete="off" name="password"
                           type="password" color="light"></ion-input>
            </ion-item>

        </ion-list>

        </div>

        <div class="ion-padding">
            <ion-button (click)="login()" class="ion-no-margin" color="r3" expand="block">
                INICIAR SESSÃO
            </ion-button>
        </div>

    </form>
</ion-content>