<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Boleto</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="6">

                <ion-label>
                    <h2>Data Vencimento</h2>
                </ion-label>

            </ion-col>

            <ion-col size="6">
                <ion-label>
                    <p>{{boleto.dataVencimento  | date: 'dd/MM/yyyy'}}</p>
                </ion-label>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col size="6">

                <ion-label>
                    <h2>Valor</h2>
                </ion-label>

            </ion-col>

            <ion-col size="6">
                <ion-label>
                    <p>{{boleto.valor | currency: 'BRL'}}</p>
                </ion-label>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col size="6">

                <ion-label>
                    <h2>Linha Digitável</h2>
                </ion-label>

            </ion-col>

            <ion-col size="6">
                <ion-label>
                    <p>{{boleto.linhaDigitavel}}</p>
                </ion-label>
            </ion-col>

        </ion-row>

    </ion-grid>

  <div class="ion-padding">
    <ion-button (click)="copiaCodigo()" class="ion-no-margin" color="r3" expand="block">
      Copiar código
    </ion-button>
  </div>

  <div class="ion-padding">
    <ion-button (click)="enviaBoletoPorEmail()" class="ion-no-margin" color="r3" expand="block">
      Enviar boleto por e-mail
    </ion-button>
  </div>

</ion-content>
